.vpbs-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.vpbs-option {
    border-radius: 50% !important;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Ensure text color is visible */
}

.vpbs-option.selected {
    border: 2px solid #0073aa;
}
